* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    margin-top: 50px;
    background-color: #1BBC9B;
  }
  
  /*아이디, 비밀번호, 로그인버튼 div*/
  .login-form {
    width: 300px;
    margin: 0 auto;
    background-color: #EEEFF1;
    border-radius: 5px;
    padding: 20px;
  }
  
  /*아이디, 비밀번호*/
  .text-field {
    width: 260px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
  }
  
  /*로그인 버튼*/
  .submit-btn {
    font-size: 14px;
    width: 260px;
    background-color: #1BBC9B;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
  }

  /*로그인 버튼 마우스 오버*/
  .submit-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  }
  
  /*비밀번호을 잊어버리셨나요? 링크 div*/
  .links {
    text-align: center;
    margin-top: 30px;
  }
  
  .links a {
    font-size: 12px;
    color: gray;
  }