.container {
    background-color: orange;
}
.alex {
    font-size: 90px;
    background-color: pink;
}
.inline-block {
    display: inline-block;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    overflow: scroll;
}

.ben {
    background-color: lime;
    font-size: 30px;
    vertical-align: middle;

}

.chris {
    background-color: yellow;
    font-size: 60px;
    vertical-align: middle;
}

.tip {
    width: 300px;
    height: 400px;
    background-color: gray;
    text-align: center;
}
.info {
    background-color: lime;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}
/* info요소를 세로 가운데로 오게하려면 소문자 x가 가운데로 와야하니까 세로길이 100%인 요소를 만들어서 그 요소에도 vertical-align: middle;을 주면 된다. */
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}