h1 {
    font-size: 32px; /* 폰트 사이즈 조절 */
    font-weight: 100; /* 폰트 굵기 조절, 100 ~ 900 종류가 있음 (100이 가장 얇음, 100단위) */
    text-align: center; /* 폰트 정렬 */
    text-decoration: underline; /* 아래 밑줄, overline 위에 밑줄, line-through 가운데 밑줄 */
}
a {
    text-decoration: none; /* 밑줄을 없앨 수 있음 */
    font-family: "Times New Roman";, Times, serif; /* 설치되어있는 폰트 */
}
.menu {
    text-align: center; /* 링크 태그는 div안에 넣어 div에게 가운데 정렬을 시켜야함*/
}

.font-size{
    font-size: 16px;
}
.div1 {
    font-size: 100%; /* %는 설정한 폰트사이즈만큼 커짐 */
}
.div2 {
    font-size: 200%; /* em은 %와 같음, 1em이 100%, 1.5em은 150% 값임 */
}
.div3 {
    font-size: 200%; /* 부모가 200%면 기본값이 아니라 부모값에서 200%로 커짐 */
}

p {
    font-size: 30px;
    color: white;
    font-family: 'Yeon Sung', cursive; /* 다른 폰트 적용하는 방법, head에 폰트 링크넣고 font-family태그 넣으면 됨 */
}
.p1 {
    background-color: red;
    line-height: normal; /* 글씨 줄 간격조절 방법 */
}
.p2 {
    background-color: orange;
    line-height: 80px; /* 글씨 줄 간격조절 방법 */
}
.p3 {
    background-color: green;
    line-height: 30px; /* 글씨 줄 간격조절 방법 */
} 
.p4 {
    background-color: blue;
    line-height: 50px; /* 글씨 줄 간격조절 방법 */
}
/* 다운로드한 폰트 사용하는 방법 */
@font-face {
    font-family: "폰트이름지정해주기"; /* 폰트패일리에 넣어 사용할 이름 지정하기 */
    src: url("../fonts/파일이름.otf"); /* 다운로드한 폰트 경로 정해주기 */
}
.span {
    color: red;
}